.img-preview {
    width: 350px;
    height: 350px;
    position: relative;
    border: 5px solid #F8F8F8;
    border-radius: 50px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;    
}


nav .btn{
    float: right;
    margin: 0px 10px 0px 50px ;
}

.right{
    width: 30%;
    float: right;
    right: 0px;
    overflow: auto;
}
iframe {
    width: 100%;
    height: 100%;
}

.container {
    width: 45%;
    float: left;
}

.left {
    padding: 20px 30px 30px 20px;
    width: 25%;
    height: 100%;
    overflow: auto;
    float: left;
    justify-content: center;
    border-right: 2px solid black;
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
}

#content {
    border-bottom: 1px solid black;
    margin: 10px 0px 50px 0px;
    padding: 0px 0px 30px 0px;
}

.upload-label{
    padding: 12px;
    background: black;
    color: #fff;
    font-size: 0.8em;
    border-radius: 20px;
    transition: all .4s;
    cursor: pointer;
}

.upload-label:hover{
    background: whitesmoke;
    color: black;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.image-section button {
    background-color: black;
    border-radius: 20px;
    font-size: 0.8em;
}

.image-section button:hover{
    background: whitesmoke;
    color: black;
    border: 0px;
}

#result{
    /* padding: 10px 0px 0px 10px; */
    font-size: 20px;
    color: black;
}

body{
    background-color: #F8F8F8;
}

@media only screen and (max-width:1225px ){
    .left{
        width: 100%;
    }
    .container {
        width: 100%;
    }
    .right {
        width: 100%;
    }
}